
.playhead-type {
  width: 125px;
  height: 125spx;
  line-height: 125px;
  text-align: center;
  cursor: pointer;
}

.playhead-type-selected {
  background-color: grey;
}
.reverse {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.reverse-selected {
  background-color: grey;
}